* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* El ancho y la altura incluyen el padding y el borde */
}

body {
  font-family: 'Comic Sans MS', sans-serif;
  background-color: #d7f442;
  text-align: center;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Encabezado */
header {
  background-color: #4caf50; /* Verde oscuro original */
  padding: 20px 0px 8px;
  text-align: center;
  color: #fff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  overflow: hidden; /* Oculte cualquier parte del contenido que no quepa dentro del contenedor*/
}

/* Logo - Añadimos rotación continua al pasar el cursor */
header .logo {
  width: 500px;
  height: auto;
  transition: transform 0.6s ease-in-out; 
}

header .logo:hover {
  transform: rotate(180deg);
}

/* Navegación */
nav {
  background-color: #90ee90; /* Verde claro original */
  text-align: center;
  padding: 15px 0;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
}

nav a {
  margin: 0 20px;
  color: #000; /* Color negro original */
  font-size: 18px;
  text-decoration: none;
  transition: color 0.3s ease, transform 0.3s ease;
  font-weight: 600;
}

nav a:hover {
  color: #fff; /* Blanco al hacer hover */
  transform: translateY(-5px);
}

div {
  display: block;
  margin: 30px auto;
  border-radius: 10px;
  background-color: #8b4513;
  width: 700px;
}

div canvas {
  margin: 15px auto;
  width: 90%;
}